<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/src/css/dashboard.css">
  <script src="/src/js/dashboard.js" defer></script>
  <title>Cine App</title>

</head>

<body>
  <div class="sidebar">
    <h2>CINE APP</h2>
    <div class="menu-item" data-section="home"><span></span> Home</div>
    <div class="menu-item" data-section="usuarios"><span></span> Usuarios</div>
    <div class="menu-item" data-section="cines"><span></span> Cines</div>
    <div class="menu-item" data-section="salas"><span></span> Salas</div>
    <div class="menu-item" data-section="peliculas"><span></span> Películas</div>
    <div class="menu-item" data-section="funciones"><span></span> Funciones</div>
  </div>
  <div id="main-content">

  </div>
</body>

</html>